@page
@model Pepegov.Identity.PL.Pages.Connect.SuperAdmin.SuperAdminLoginModel

<div class="row">
    <div>
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Login</th>
                <th scope="col">FIO</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Count of access failed</th>
                <th scope="col">Lockout</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in @Model.PagedUsers.Items)
            {
                <form method="post">
                    <tr onclick="this.form.submit()">
                        <td>
                            @row.Id
                            <input type="hidden" name="Id" asp-for="Input.Id" value="@row.Id"/>
                        </td>
                        <td>@row.UserName</td>
                        <td>@row.LastName @row.FirstName @row.MiddleName</td>
                        <td>@row.Email</td>
                        <td>@row.PhoneNumber</td>
                        <td>@row.AccessFailedCount</td>
                        <td>
                            @if (row.LockoutEnabled)
                            {
                                <p>false</p>
                            }
                            else
                            {
                                <p>@row.LockoutEnd.ToString()</p>
                            }
                        </td>
                        <td><input type="submit" value="LoginIn" /></td>
                    </tr>
                </form>
            }
            </tbody>
            
            <tfoot>
            <div class="d-flex flex-row">
                <div class="p-2">
                    <form method="get">
                        <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl"/>
                        <select asp-for="PageSize" class="form-select" onchange="this.form.submit()" id="select_page_size">
                            @foreach (var item in Model.ListOfPageSize)
                            {
                                @if (item == Model.PageSize)
                                {
                                    <option selected>@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                        <input type="hidden" asp-for="PageIndex" value="0"/>
                    </form>
                </div>
                <div class="p-2">
                    <nav>
                        <ul class="pagination">
                            @if (Model.PagedUsers.HasPreviousPage)
                            {
                                <li class="page-item"><a asp-page="./Login" asp-route-ReturnUrl="@Model.ReturnUrl" asp-route-PageIndex="@Model.PreviousPageIndex" asp-route-PageSize="@Model.PageSize"  class="page-link">Previous</a></li>
                            }
                            else
                            {
                                <li class="page-item disabled"><a class="page-link">Previous</a></li>
                            }
                            @for (int i = 0; i < @Model.PagedUsers.TotalPages; i++)
                            {
                                if (Model.PageIndex == i)
                                {
                                    <li class="page-item disabled"><a class="page-link">@i</a></li>   
                                }
                                else
                                {
                                    <li class="page-item"><a asp-page="./Login" asp-route-ReturnUrl="@Model.ReturnUrl" asp-route-PageIndex="@i" asp-route-PageSize="@Model.PageSize" class="page-link">@i</a></li>
                                }
                            }
                            @if (Model.PagedUsers.HasNextPage)
                            {
                                <li class="page-item"><a asp-page="./Login" asp-route-ReturnUrl="@Model.ReturnUrl" asp-route-PageIndex="@Model.NextPageIndex" asp-route-PageSize="@Model.PageSize" class="page-link">Next</a></li>
                            }
                            else
                            {
                                <li class="page-item disabled"><a class="page-link">Next</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            </tfoot>
        </table>
    </div>
    
    <div id="snackbar"  class="toast" style="position: absolute; top: 1%; right: 1%;">
        <div class="toast-header">
            <strong class="mr-auto">Error</strong>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @ViewData["Error"]
        </div>
    </div>    
    @if (ViewData["Error"] is not null)
    {
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script>
            const snackBar = document.getElementById('snackbar');
            const toast = new bootstrap.Toast(snackBar)
            toast.show();
        </script>
    }
</div>